
<div ng-include src="'views/nav/en.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Lungta Tradition</h2>
	<p>

Lungtas, or prayer flags, whose origin dates back to the pre-Buddhist Bonpo religion, are squares of cloth on which are printed four animals at the four corners; tiger (symbol of the wood or air element), snow lion (symbol of the earth element), garuda, (symbol of the fire element), dragon (symbol of the water element). At the center, as a symbol of the internal elements of the individual, one finds a wind horse which carries on its saddle a wish fulfilling jewel. Lungtas come in five colours - white, red, green, yellow, and blue - which represent the five personal elements and those of the year. These elements can be in conflict with each other, for example, when the element of life of a person is fire and the life element of the year is water. In these cases to avoid a year full of problems, it is best to prepare lungtas and empower them with mantras for harmonising the elements of the individual and the year. (Chögyal Namkhai Norbu, Lungta)
<br><br>

You can buy as many lungtas as you want, but usually people buy the same number of flags as their years of age.


<br><br>
<img src="images/foto2013/b/DSC_0936.jpg">
	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  	

  </div>
  
</div>
