
<div ng-include src="'views/nav/en.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Pharping</h2>
	<p>
<b>Your Lungta will be hung in Pharping, near Kathmandu in Nepal.</b>
<br><br>
Pharping is the sacred site where Guru Padmasambhava attained realisation of the level of
Mahamudra Vidyahara. For this reason it is visited by pilgrims and is considered to be for
Vajrayana practitioners as important as Bodhgaya because it is where the second buddha Guru
Padmasambhava attained the state of enlightenment. For this reason, we have chosen Pharping as
an auspicious place to hang your Lungtas for Losar.
<br><br>

There are two major practice caves in Pharping blessed by Guru Rinpoche: the Asura cave and the
Yangleshö cave. Pharping has not only been blessed by the master of Oddiyana's practice with his
consort Shakyadevi and his attainment of the vidyadhara level of Mahamudra, it has been also
visited by many great beings, like long term resident Marpa Lotsawa, who practised, made
offerings, ganachakra feasts, and aspiration prayers.
<br><br>
<img src="images/Pharping.jpg" style="">

	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  	

  </div>
  
</div>
