
<div ng-include src="'views/nav/en.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Preserving Tibetan Culture</h2>
	<p>
<img src="images/preserve-tibetan-culture.jpg">
<br><br>

<b>Tibetan language, culture and customs are under threat</b>.
<br><br>
Throughout Tibet, Chinese language is the lingua franca and is the medium of instruction in educational institutes and at most workplaces.
<br>
The Tibetans living in exile are also driven to forsake their ancestral language in favor of the one spoken in their host country.
<br>
This is a critical moment for Tibetan culture as language is the root of a civilization and the identity of a nation.
<br>
Those of us who have the possibility should do their best to  protect the Tibetan identity by help keeping the language and traditions alive.
<br><br>

<!-- 
<b>By Purchasing Lungtas, you are Supporting the Shang Shung Institute UK Rare Art Project</b>.
<br>
The Shang Shung Institute UK is working on an ambitious project documenting and
preserving the highest quality and rare Tibetan and Nepalese Newari art. More information will be announced soon.
<br><br>
-->

<b>Previous Shang Shung Institute UK projects:</b>
<li>Groundbreaking first ever conference on Padmasambhava held at SOAS in September 2013 with leading academics.  
<li>Publication in 2016 of Padmasambhava conference proceedings 
<li>Future conference planned for autumn 2016
<li>Publication of international conference, Bon, Shangshung and Early Tibet, held at SOAS in 2011 and organised jointly by Shangshung UK and SOAS.
<li>Running programme of academic talks at SOAS.
<li>Running programme of courses related to Tibetan culture, teachings and Buddhism




	</p>

<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  	

  </div>
  
</div>
