
<div ng-include src="'views/nav/en.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Shang Shung Institute</h2>
	<p>
    In 1989 Chögyal Namkhai Norbu, the spiritual master and former professor of Tibetan and Mongolian studies at the University of Naples L'Orientale, founded the International Shang Shung Institute (ISSI).
    <br>
    He describes its aim thus:
    <br><br>

    <i>"The Shang Shung Institute exists for the preservation of Tibetan culture and to translate Tibetan books into Western languages. Through the Shang Shung Institute we are trying to do something to maintain the survival of Tibetan culture and understanding."</i>
    <br><br>
    The Institute promotes the translation of original Tibetan texts into the major Western languages. It also organizes courses, study seminars, conferences, and exhibitions. It coordinates the publication of numerous books and texts, maintains a modern multimedia documentation center, and offers study grants to worthy young Tibetans.
    <br><br>
    The Shang Shung Institute UK: London Institute of Tibetan Studies, acts as a forum for Tibetan academic knowledge and facilitates its development through public talks, conferences, short courses and online resources. The UK Institute also offers courses related with Tibetan culture based on the the Five Great Fields of Knowledge such as the Arts, Language, Medicine, Philosophy, Buddhist Studies and Meditation.
    <br><br>
    Over the past years, there have been several Festivals held at Lekdanling which have welcomed the general public, including ‘The Sacred Space Festival’ in 2016; the ‘Himalayan Health & Vitality Festival’ with Lelung Rinpoche as a keynote speaker in March 2017; followed by a ‘Himalayan Music & Dance Festival’ in October 2017.  The ‘Festival of Mind’ was another initiative launched in 2018:  the first to discuss the theme of ‘Mindfulness: Past, Present & Future’ which was held in May 2018 and another in May 2019 to explore the ‘Nature of Emotions’. Khaita also became a strong new trend over these years culminating in two Khaita performances being held in the prestigious Great Hall of the British Museum, the first in March 2018 and a second in collaboration with members of the London Tibetan Community in March 2019. This has led to an on-going relationship between SSIUK and the British Museum.
    <br><br>
    Close bonds with members of the Tibetan Community in London has also naturally been growingover the past ten years, largely through our collaborative musical & dance ventures but also through Our ongoing academic talks and SSIUK lecture series with Tibetan scholars, with subjects as diverse as Tibetan cookery, folklore and bow making.
    <br><br>
    SSIUK also established a good connection with the WellcomeCollection Trust in 2017 and was gifted the centre piece mandala of their popular exhibition entitled ‘Tibet’s Secret Temple’, many thanks to the curator Ian Baker, now housed at Lekdanling together with many of the accompanying photographs from the exhibition. We are also extremely grateful to Anne Bancroft, the Arts Director for Shang Shung UK, for providing an important link between the V&A and SSIUK over the years, especially in relation to the Buddhist art traditions.
	</p>

<br><br>

  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  </div>

</div>
