
<div ng-include src="'views/nav/en.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Shang Shung Institute</h2>
	<p>


In 1989 Chögyal Namkhai Norbu, the spiritual master and former professor of Tibetan and Mongolian studies at the University of Naples L'Orientale, founded the International Shang Shung Institute (ISSI).
<br>
He describes its aim thus:
<br><br>

<i>"The Shang Shung Institute exists for the preservation of Tibetan culture and to translate Tibetan books into Western languages. Through the Shang Shung Institute we are trying to do something to maintain the survival of Tibetan culture and understanding."</i>
<br><br>
The Institute promotes the translation of original Tibetan texts into the major Western languages. It also organizes courses, study seminars, conferences, and exhibitions. It coordinates the publication of numerous books and texts, maintains a modern multimedia documentation center, and offers study grants to worthy young Tibetans.
<br><br>
The Shang Shung Institute UK: London Institute of Tibetan Studies, acts as a forum for Tibetan academic knowledge and facilitates its development through public talks, conferences, short courses and online resources. The UK Institute also offers courses related with Tibetan culture based on the the Five Great Fields of Knowledge such as the Arts, Language, Medicine, Philosophy, Buddhist Studies and Meditation.

	</p>

<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  	

  </div>
  
</div>
