
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>La Tradizione delle Lungta</h2>
	<p>


Le lungta e il loro utilizzo: storicamente, l'affissione delle lungta per garantire
la buona sorte era una pratica in uso presso le popolazioni nomadi che
compongono il popolo tibetano. In seguito, tale tradizione è diventata molto
popolare ed ha assunto significati di tipo più religioso. Anche la decorazione
delle bandiere ha subito un'evoluzione nel corso dei secoli, con l'introduzione
di immagini sacre e di mantra. Simboli di buon auspicio e le immagini di
quattro creature di particolare valore simbolico (un garuda, un drago, un
leone delle nevi e una tigre), insieme al simbolo della buona sorte tibetano
per eccellenza – il Cavalo del Vento – accompagnano i tradizionali testi sacri
di preghiere, invocazioni e mantra. Si dice che, quando le bandiere vengono
appese, gli scritti e i desideri che esse rappresentano vengano trasportati
ovunque dal vento stesso, portando benedizioni e aiuto a tutti gli esseri
senzienti.

<br><br>
<img src="images/foto2013/b/DSC_0936.jpg">
	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>
  	

  </div>
  
</div>
