
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Acquista le Lungta Per il Nuovo Anno Tibetano</h2>
	
	Aiutaci a mantenere la lingua, la cultura e la tradizione del Tibet appendendo le Lungta in un luogo sacro come Pharping.
	<br><br>

	Le bandierin di preghiera saranno messe a Pharping,<br>
	per portare fortuna e benessere, <br>
	ed una benedizione per il nuovo anno.
	
	<br><br>
	Costo: 5 euro ogni Set di Lungta 
	<br>
	(un set sono 5 bandierine, è usanza di appendere un numero di Lungta pari al numero dei propri anni).
	<br><br>
	<button  ng-show="!showBuyThis" class="btn btn-large btn-primary" type="button" ng-click="showBuyThis = ! showBuyThis">
		<i class="icon-shopping-cart icon-white"></i> Dona ora!
	</button>
	
	<div ng-show="showBuyThis" ng-animate="'boxBuy'" id="cartMini">
		<i class="close" ng-click="showBuyThis = ! showBuyThis">chiudi</i>
		<br>
		<div class="product">
			Bene,<br>
			Imposta il numero di Lungta che vuoi<br>
			e completa la tua donazione.
			<br>
		<select type="text" ng-model="qta" name="qtaFlag">
			<option ng-repeat="n in range(50)" ng-selected="$index==0" value="{{$index+1}}">{{$index+1}}</option>
			
		</select>
		<span class="total">{{qta*5}} euro</span>
			
			<form ng-submit="addDonation()">
			<div id="datiDonatore">
				<div class="riga">
					<div class="txt">Nome</div>
					<div class="field"><input class="dati" type="text" required ng-model="dname"></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<div class="txt">Cognome</div>
					<div class="field"><input class="dati" type="text" required ng-model="dsurname"></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<div class="txt">E-mail</div>
					<div class="field"><input class="dati" type="email" required  ng-model="demail"></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<select type="text" ng-model="dpaymenttype">
						<option ng-repeat="payment in payment_types_it" ng-selected="$index==0" value="{{payment.value}}">{{payment.name}}</option>
						
					</select>
				</div>
				* Compila tutti i campi
			</div>

			<div>
				<button type="submit"  class="btn btn-large btn-primary" type="button" ng-click="doBuy">
				<i class="icon-shopping-cart icon-white"></i> Clicca e Dona!
				</button>
			</div>
			</form>

		</div>
	</div>


<br><br>
Comprando le Lungta supproti i progetti di recupero di Rare Opere d'arte dell'Istituto Shang Shung UK 

	<br><br>

<h2>Shang Shung UK: Progetto Opere d'Arte Rare</h2>
	<p>The Shang Shung Institute UK is documenting a Rare Art Project of the highest quality Tibetan and Nepalese Newari art. Filming will be done by Clive Arrowsmith, a world class photographer and documentary film maker, working very closely with Robert Beer, one of the leading experts on Tibetan and Newari art. Robert also has the most extensive collection of superb Newari art, collected over many years from the most accomplished painters in Nepal. There will also be filming of the artists at work in Nepal through the progress of their work. Robert Beer is not only known for his thangka painting but also wrote The Encylopaedia of Tibetan symbols and Motifs, one of the most authoritative works on the subject, used both by Tibetan and Western artists. In Nepal he is very highly thought of for his expertise and knowledge and is much sought after by the Nepalese and Tibetan artists for his advice and guidance. </p>

<br><br><br>
<img src="images/home.jpg" style="">
<br><br>
<br><br>



  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>
  	

  </div>
  
</div>
