
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Buy your Lungta in Pharping</h2>
	The flags will be put up for you in Pharping,<br>
	to bring you good fortune and <br>
	blessings for the New Year.<br>
	<br><br>
	Cost: 5 euros for Lungta's Set
	<br><br>
	<button  ng-show="!showBuyThis" class="btn btn-large btn-primary" type="button" ng-click="showBuyThis = ! showBuyThis">
		<i class="icon-shopping-cart icon-white"></i> Buy Now
	</button>
	
	<div ng-show="showBuyThis" ng-animate="'boxBuy'" id="cartMini">
		<i class="close" ng-click="showBuyThis = ! showBuyThis">close</i>
		<br>
		<div class="product">
			Bene,<br>
			Imposta il numero di Lungta che vuoi<br>
			e completa la tua donazione.
			<br>
		<select type="text" ng-model="qta" name="qtaFlag">
			<option ng-repeat="n in range(50)" ng-selected="$index==0" value="{{$index+1}}">{{$index+1}}</option>
			
		</select>
		<span class="total">{{qta*5}} euro</span>
			
			<form>
			<div id="datiDonatore">
				<div class="riga">
					<div class="txt">Nome</div>
					<div class="field"><input class="dati" type="text" name="nome" required></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<div class="txt">Cognome</div>
					<div class="field"><input class="dati" type="text" name="cognome" required></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<div class="txt">E-mail</div>
					<div class="field"><input class="dati" type="email" name="email" required></div>
					<div style="clear:both;"></div>
				</div>

			</div>

			<div>
				<button type="submit"  class="btn btn-large btn-primary" type="button" ng-click="doBuy">
				<i class="icon-shopping-cart icon-white"></i> Clicca e Dona!
				</button>
			</div>
			</form>

		</div>
	</div>



  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  	

  </div>
  
</div>
