
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Pharping</h2>
	<p>
<b>I tuoi Lungtas saranno appesi in Pharping, vicino a Kathmandu in Nepal.</b>
<br><br>
Pharping è il luogo sacro dove Guru Padmasambhava ha
raggiunto realizzazione del livello di Mahamudra Vidyahara. Per questo motivo è
considerato un'importante meta di pellegrinaggio ed è ritenuto dai praticanti Vajrayana di
importanza pari a quella di Bodhgaya, perché è dove il secondo buddha Guru
Padmasambhava ha raggiunto lo stato di illuminazione.
Per questo motivo, abbiamo scelto Pharping come un luogo
propizio per appendere i vostri Lungtas per il Losar.
<br><br>
Ci sono due principali grotte per le pratiche a Pharping, benedette da Guru Rinpoche: la
grotta Asura e la grotta Yangleshö. Oltre alla benedizione garantita dalla presenza del
Maestro di Oddyana e della sua consorte Shakyadevi, che praticarono a lungo in questo
luogo, Pharping è stato visitato anche da molti altri grandi esseri, come Marpa Lotsawa:
anch'egli soggiornò qui a lungo, svolgendo pratiche, offerte, feste di Ganachakra e
preghiere di aspirazione.
<br><br>
<img src="images/Pharping.jpg" style="">

	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>
  	

  </div>
  
</div>
