
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Preservare la Cultura Tibetana</h2>
	<p>
<img src="images/preserve-tibetan-culture.jpg">
<br><br>

Tibetan language, culture and customs are under threat.
<br><br>
La lingua e la cultura Tibetana sono in un grave pericolo. In tutto il Tibet
ormai il Cinese e’ la lingua franca, utilizzata nelle scuole e nei posti di lavoro.
I Tibetani in esilio sono spesso costretti ad abbandonare la loro lingua
ancestrale per imparare a comunicare in quella dei paesi che li ospitano.
Questo e’ un momento critico per il Tibet, visto che la lingua e’ alla radice
dell’identita’ culturale di un paese. Coloro che ne hanno la possibilita’ devono
fare del loro meglio per aiutare a preservare l’identita’ Tibetana, aiutando a
mantenere vive la lingua e le tradizioni.
	</p>
<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>
  	

  </div>
  
</div>
