
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Preservare la Cultura Tibetana</h2>
	<p>

Tibetan language, culture and customs are under threat.
<br><br>
Throughout Tibet, Chinese language is  the lingua franca and is the medium of instruction in educational institutes and at most workplaces.
The Tibetans living in exile are also driven to forsake their ancestral language in favor of the one spoken in their host country.
This is a critical moment for Tibetan culture as language is the root of a civilization and the identity of a nation.
Those of us who have the possibility should do their best to  protect the Tibetan identity by help keeping the language and traditions alive.
<br><br>

In 1989 Choegyal Namkhai Norbu, the spiritual master and former professor of Tibetan and Mongolian studies at the University of Naples L'Orientale, founded the International Shang Shung Institute (ISSI).
<br>
He describes its aim thus:
<br><br>

<i>"The Shang Shung Institute exists for the preservation of Tibetan culture and to translate Tibetan books into Western languages. Through the Shang Shung Institute we are trying to do something to maintain the survival of Tibetan culture and understanding."</i>
	</p>
<br><br>
<img src="images/foto2013/b/01.jpg">


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>
  	

  </div>
  
</div>
