
<div ng-include src="'views/nav/it.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>L'Istituto Internazionale Shang Shung</h2>
	<p>


Nel 1989 Chogyal Namkhai Norbu, Maestro spirituale e professore di
Tibetano e lingua Mongola all’Universita’ L’Orientale di Napoli, ha fondato
l’Istituto Internazionale Shang Shung. 
<br><br>
Descrive il suo scopo in questo modo:
<br><br>
<i>"L'istituto Shang Shung esiste per la preservazione della cultura Tibetana e
per tradurre libri tibetani in lingue occidentali. Tramite l'Istituto Shang Shung
stiamo provando a fare qualcosa per tenere viva la cultura e il conoscenza
Tibetana”.</i>
<br><br>
L'istituto promuove la traduzione di testi originali tibetani nelle maggiori
lingue occidentali. Inoltre organizza corsi, seminari di studio, conferenze ed
eventi artistici. Coordina e sostiene la pubblicazione di un elevato numero di
libri e testi, mantiene ed aggiorna un centro di documentazione ed
archiviazione multimediale, nonché offre borse di studio ai più meritevoli
giovani tibetani.
<br><br>
L'Istituto Shang Shung UK: il London Institute of Tibetan Studies agisce cone
un forum sulla conoscenza accademica del Tibet e ne promuove lo sviluppo
attraverso l'organizzazione di incontri pubblici, conferenze, corsi specializzati
e una ricca offerta di risorse online sull'argomento. Shang Shung UK
organizza inoltre corsi basati sui Cinque Grandi Campi della Conoscenza,
quali l'arte, il linguaggio, la medicina, la filosofia, studi di buddismo e
meditazione.
<br><br>

	</p>

<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>
  	

  </div>
  
</div>
