
<div ng-include src="'views/nav/it.html'"></div>



<div class="row">
  <div class="span8" id="mainContent">
	<h2>Per Completare la tua donazione</h2>
  <b>Segui le istruzioni qui riportate</b>:
  <br>
  <br>
	<p>
	Per completare il tuo ordine è necessario effettuare la donazione indicata,
  di

  <span class="euroForPya">
  {{datiInviati.qta*5}} Pounds.
  </span>

  <div ng-class="{'hidden':datiInviati.payment_type=='Bank'}">
  Cliccando sul bottone di Paypal "Donate"
  <br>
  che trovi qui di seguito:
  <br><br>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_donations">
  <input type="hidden" name="business" value="shop@shangshunguk.org">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="item_name" value="Lungta Donation">
  <input type="hidden" name="item_number" value="lungta.it {{datiInviati.codeTr}}">
  <input type="hidden" name="no_note" value="0">
  <input type="hidden" name="currency_code" value="GBP">
  <input type="hidden" name="amount" value="{{datiInviati.qta*5}}">

  <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  </div>

  <div ng-class="{'hidden':datiInviati.payment_type=='Paypal'}">
    Con un Bonifico sul seguente conto:
     <div class="bankinfo" ng-include src="'views/bankinfo.html'"></div>
    <br>
  </div>
	</p>

  <h2>Grazie!</h2>
  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/it.html'"></div>


  </div>

</div>
