
<div ng-include src="'views/nav/en.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Buy your Lungta in Pharping</h2>
	The flags will be put up for you in Pharping,<br>
	to bring you good fortune and <br>
	blessings for the New Year.<br>
	<br><br>
	Cost: 5 euros for Lungta's Set
	<br><br>
	<button class="btn btn-large btn-primary" type="button">
		<i class="icon-shopping-cart icon-white"></i> Buy Now
	</button>
	<br><br>

  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/en.html'"></div>
  	

  </div>
  
</div>
