
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Контакты</h2>
	<p>
	Можно оплатить по <b>кредитной карте </b> (paypal) или <b> банковским переводом </b>, 
	<br>после заполнения вышеприведенной формы. <br /> <br />
	Если Вы хотите оплатить иначе, или оплатить коллективно, пожалуйста, свяжитесь с нами: <b> <a href="mailto:lungtas@shangshunguk.org">lungtas@shangshunguk.org</a> </b> <br /> <br />

	</p>
<img src="images/ssi-photo.jpg">

  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
