
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Традиция Лунгта</h2>
	<p>
Lungta prayer flags and their uses: Historically, the hoisting of prayer flags to guarantee good fortune was an event that occurred within the nomadic communities of Tibet, however, this ritual effort has shifted in meaning by having assumed a more religious significance. The design of the flags also endured change as a more religious significance was acquired including the appearance of mantras and images. Auspicious symbols and images of four creatures of significant symbolic value (a garuda, a dragon, a snow lion and a tiger), along with the symbol of good fortune-- theWind horse-- are placed amongst the traditional texts of prayers, invocations and mantras. As the flags are hung, the writings and wishes that are inscribed upon the flag are said to be carried everywhere by the wind, blessings all sentient beings.
<br><br>
<img src="images/foto2013/b/DSC_0936.jpg">

	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
