
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Флажки будут развешаны на горе Парпинг для вас!</h2>
	Каждый флаг стоит 1 евро, 1 комплект состоит из 5 флагов, <br />
	и <b> минимальный заказ состоит из пяти флагов </b> (1 набор).
	<br><br>
	<button  ng-show="!showBuyThis" class="btn btn-large btn-primary" type="button" ng-click="showBuyThis = ! showBuyThis">
		<i class="icon-shopping-cart icon-white"></i> Заказать сейчас
	</button>
	
	<div ng-show="showBuyThis" ng-animate="'boxBuy'" id="cartMini">
		<i class="close" ng-click="showBuyThis = ! showBuyThis">близко</i>
		<br>
		<div class="product">
			Выберите столько Лунгта сколько вы хотите купить:
			<br>
		<select type="text" ng-model="qta" name="qtaFlag">
			<option ng-repeat="n in range(50)" ng-selected="$index==0" value="{{$index+1}}">{{$index+1}}</option>
			
		</select>
		<span class="total">{{qta*5}} евро</span>
			
			<form>
			<div id="datiDonatore">
				<div class="riga">
					<div class="txt">Имя</div>
					<div class="field"><input class="dati" type="text" name="nome" required></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<div class="txt">Фамилия</div>
					<div class="field"><input class="dati" type="text" name="cognome" required></div>
					<div style="clear:both;"></div>
				</div>

				<div class="riga">
					<div class="txt">Е-майл</div>
					<div class="field"><input class="dati" type="email" name="email" required></div>
					<div style="clear:both;"></div>
				</div>
				* Пожалуйста, заполните все обязательные поля!
			</div>

			<div>
				<button type="submit"  class="btn btn-large btn-primary" type="button" ng-click="doBuy">
				<i class="icon-shopping-cart icon-white"></i> Заказать сейчас
				</button>
			</div>
			</form>

		</div>
	</div>



  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
