
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Продолжение Тибетской Культуры</h2>
<p>
<img src="images/preserve-tibetan-culture.jpg">
<br><br>


Тибетский язык, культура и обычаи под угрозой.
<br><br>
В Тибете вообще китайский язык не является родным языком, но является средством общения в институтах и на многих работах. Те тибетцы, которые живут в изгнании, движимы сохранением языка их предков, разговаривают на родном тибетском в стране, где их приняли. Это переломный момент для Тибетской культуры, так как язык является корнем цивилизации и представителем нации. Те, кто может сделать хоть что-то для сохранения Тибета, помогите оставить его язык и традиции живыми.
<br><br>

<!-- 
В 1989 Чогьял Намкхай Норбу, духовный учитель и бывший профессор Тибетских и Монгольских наук в 
Неапольском Университете Востоковедения, основал Международный Институт Шанг-Шунг (МИШШ).
<br>
Он определяет его цель следующим образом:
<br><br>

<i>"Институт Шанг-Шунг существует для сохранения Тибетской культуры и для переводов тибетских книг на западные языки. Благодаря  Институту Шанг-Шунг мы стараемся сделать что-нибудь для выживания Тибетской культуры и знания."</i>
	</p>
<br><br>
-->


<!-- Previous Shang Shung Institute UK projects: -->
<b>Предыдущие проекты Института Шанг-Шунг ВБ:</b>
<br>
<li>Первая значимая конференция о Бадмасабхаве проводилась в английском университете SOAS (Униветситет Восточных и Африканских наук (УВАН) в сентябре 2013 ведущими академиками.
<li>В 2016 опубликована конференция о Бадмасамбхаве в будущем последующая конференция планируется в 2016 осенью.
<li>Публикация международной конференции, Бон, Шангшунг и Ранний Тибет проводились в УВАН (SOAS) в 2011 и организованы совместно с Шангшунг ВБ и УВАН (SOAS) .
<li>Работают программы академических переговоров в УВАН (SOAS).
<li>Работают программы курсов связанные с Тибетской культурой, учениями и Буддизмом.


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
