
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Пхарпинг</h2>
  <p>
<b>Ваши Лунгта будут развешаны в Пхарпинге, недалеко от Катманду в Непале.</b>
<br><br>
Пхарпинг - это священное место, где Гуру Бадмасамбхава обрел реализацию на уровне 
Махамудры Видьядхары. Много поломников посещают это место, которое считается важным для 
практиков Ваджраяны так же как и место Бодхагая, потому что там обрел состояние просветления 
второй Будда, Гуру Падмасамбхава. По этому мы выбрали Пхарпинг как 
благоприятное место для вывешивания Лунгта на Лосар.
<br><br>

Там есть две главные пещеры для практик в Пхарпинге, благославленные Гуру Ринпоче: пещера Асур и 
пещера Yangleshö. Пхарпинг был благославлен не только учителем практик Уддияны со своей
супругой Шакьядэви, но и его воплощением уровня видьядхары Махамудры, так же это место 
посетили много великих существ, как, например,  Марпа Лотсава, который много лет жил там, практиковал, делал
подношения, празднования ганачакры и преданно молился.
<br><br>
<img src="images/Pharping.jpg" style="">

	</p>

	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
