
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Продолжение Тибетской Культуры</h2>
<p>

Тибетский язык, культура и обычаи под угрозой.
<br><br>
В Тибете вообще китайский язык не является родным языком, но является средством общения в институтах и на многих работах. Те тибетцы, которые живут в изгнании, движимы сохранением языка их предков, разговаривают на родном тибетском в стране, где их приняли. Это переломный момент для Тибетской культуры, так как язык является корнем цивилизации и представителем нации. Те, кто может сделать хоть что-то для сохранения Тибета, помогите оставить его язык и традиции живыми.
<br><br>

В 1989 Чогьял Намкхай Норбу, духовный учитель и бывший профессор Тибетских и Монгольских наук в 
Неапольском Университете Востоковедения, основал Международный Институт Шанг-Шунг (МИШШ).
<br>
Он определяет его цель следующим образом:
<br><br>

<i>"Институт Шанг-Шунг существует для сохранения Тибетской культуры и для переводов тибетских книг на западные языки. Благодаря  Институту Шанг-Шунг мы стараемся сделать что-нибудь для выживания Тибетской культуры и знания."</i>
	</p>
<br><br>
<img src="images/foto2013/b/01.jpg">


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
