
<div ng-include src="'views/nav/ru.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>Институт Шанг-Шунг</h2>
	<p>


В 1989 Чогьял Намкхай Норбу, духовный учитель и бывший профессор Тибетских и Монгольских наук в Неапольском Университете Востоковедения, основал Международный Институт Шанг-Шунг (МИШШ).  
<br><br>
Он определяет его цель следующим образом: 
<br><br>
<i>"Институт Шанг-Шунг существует для сохранения Тибетской культуры и для переводов тибетских книг на западные языки. Благодаря Институту Шанг-Шунг мы стараемся сделать что-нибудь для выживания Тибетской культуры и знания.”.</i>
<br><br>
Институт способствует переводам с оригиналов Тибетских текстов на многие Западные языки. Организовывает курсы, учебные семинары, конференции и выставки. Координирует публикации многочисленных книг и текстов, содержит современный мультимедийный центр, и выделяет стипендии достойным молодым Тибетцам.  
<br><br>

Институт Шанг Шунг Великобритании (ВБ): Лондонский Институт Тибетских Наук, действует как форум о Тибетской академической науке и содействует ее развитию посредством общественных обсуждений, конференций, коротких курсов и интернет-ресурсов. Институт ВБ также предлагает курсы связанные с Тибетской культурой, опирающиеся на такие Пять Главных Сфер Науки как Искусство, Языки, Медицина, Философия, Буддийские Науки и Медитация.
<br><br>

	</p>

<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/ru.html'"></div>
  	

  </div>
  
</div>
