
<div ng-include src="'views/nav/zh.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>风马旗传统</h2>
	<p>

风马旗或者经幡，其起源可追溯到佛教前的苯波信仰。它是一块方形的布料，在四角上印有四种动物：老虎（象征木或者风大元素），雪狮（土元素的象征），金翅鸟（火元素的象征）和龙（水元素的象征）。在中央，作为个人内部元素的象征，你可以发现一匹风马，马鞍上载有一颗如意宝珠。风马旗有五种颜色——白、红、绿、黄和蓝——这些代表五种个人元素和当年的元素。这些元素有可能会相互冲突，比如，当一个人的生命元素是火而当年的生命元素是水的时候。在这种情况下，为了避免不顺的一年，最好是准备好风马旗并用密咒加持用以调和个体和年的元素。（却甲·南开诺布，《风马旗》）
<br><br>
你想买多少风马旗都可以，但是一般的人会买和他们年龄数目一样的风马旗。


<br><br>
<img src="images/foto2013/b/DSC_0936.jpg">
	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/zh.html'"></div>
  	

  </div>
  
</div>
