
<div ng-include src="'views/nav/zh.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>保护西藏的文化</h2>
	<p>
<img src="images/preserve-tibetan-culture.jpg">
<br><br>

<b>西藏的语言、文化和风俗正处在危机之中</b>.
<br><br>
在西藏地区，汉语是通用语言, 也是教育机构的授课语言以及大多数工作场所的交流工具
流亡的西藏人也被迫放弃他们的母语而选择所住地国家所使用的语言。
当前，西藏文化正处在紧要关头，因为语言是一个文明也是一个民族认同感的根源。
我们当中有条件的人应当尽己所能，通过保持其语言和传统的生命力来保护西藏人的身份认同感。
英国象雄学院之前的项目：

<br><br>

<!-- 
<b>By Purchasing Lungtas, you are Supporting the Shang Shung Institute UK Rare Art Project</b>.
<br>
The Shang Shung Institute UK is working on an ambitious project documenting and
preserving the highest quality and rare Tibetan and Nepalese Newari art. More information will be announced soon.
<br><br>
-->

2013年9月在SOAS（伦敦大学亚非研究院）举办由多位知名学术专家参加的史无前例的莲花生大师会议。<br>
2016年出版莲花生大师会议的论文会刊<br>
预计2016年秋季举办下一次会议<br>
出版了2011年在SOAS举办并由英国象雄学院与SOAS合办的国际会议出版物《苯、象雄和早期西藏》。<br>
于SOAS开设学术讨论项目<br>
开设与西藏文化、教法与佛教课程的项目<br>
<br>


	</p>

<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/zh.html'"></div>
  	

  </div>
  
</div>
