
<div ng-include src="'views/nav/zh.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>帕平</h2>
	<p>
<b>您的风马旗将会悬挂在尼泊尔加德满都附近的帕平。</b>
<br><br>
帕平是莲花生大师证得大手印持明果位的圣地。因此，朝圣者们去那里朝拜，金刚乘行者认为该地与菩提伽耶一样重要，因为第二佛莲花生上师在那里获得了证悟。出于这个原因，我们选择了帕平作为藏历新年为您挂风马旗的吉祥之地。
<br><br>

帕平有两处被莲花生大师加持的岩洞：阿苏拉岩洞和阳雷穴岩洞。除了莲花生上师和他的法侣释迦德薇的加持，莲师证得大手印金刚持果位的加持，该地也曾被很多大德造访过，比如玛尔巴译师在那里常住过，期间他曾修法，供养，做会供轮和祈愿。
<br><br>
<img src="images/Pharping.jpg" style="">

	</p>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/zh.html'"></div>
  	

  </div>
  
</div>
