
<div ng-include src="'views/nav/zh.html'"></div>


<div class="row">
  <div class="span8" id="mainContent">
	<h2>象雄学院</h2>
	<p>


在1989年 ，灵修大师以及那不勒斯东方学院西藏与蒙古研究所的前任教授却甲·南开诺布创立了国际象雄学院（ISSI）。
他对其宗旨做了如下描述：
<br><br>

<i>"象雄学院的建立旨在保护西藏文化，并将藏语书籍译成西方的语言。通过象雄学院，我们正在努力进行保持传承西藏文化，了解西藏文化的工作。"</i>
<br><br>
学院促进了原创性藏语文献译成西方主要语言的工作。它也组织一些课程，学习研讨、交流大会和展览。它协调出版了无数的书籍和文献，维护一个现代化的多媒体文件中心，并提供助学金给值得资助的年轻藏人。
<br><br>
英国象雄学院：伦敦藏学研究院为西藏学术知识提供了一个论坛，通过公众讲座、大会、短期课程以及网络资源来促进其发展。英国学院同时提供基于五明（工巧明、声明、医方明、因明和内明）的藏文化课程。

	</p>

<br><br>


  </div>
  <div class="span4" id="sidebar">
  	<div ng-include src="'views/side/zh.html'"></div>
  	

  </div>
  
</div>
