body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;

}

.hero-unit {
    
    width: 100%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    padding: 10px 10px 10px 30px;
    color:#0088cc;
    background-image:url('../images/bg-hero.png');
    background-repeat:no-repeat;
    background-position:right bottom;
}

.hero-unit h1 {
    font-size: 80px;
    line-height: 1;
    letter-spacing: -1px;
    color:#0088cc;
    font-family: 'Lily Script One', cursive;
}
.hero-unit h2 {

font-family: 'Annie Use Your Telescope', cursive;
}
.nav > li > a {
  text-decoration: none;
  background-color: #88bbff;
  color:#ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #0088cc;
}


#mainContent{}
#mainContent h2{
    font-family: 'Lily Script One', cursive;
    /*font-family: 'Annie Use Your Telescope', cursive;*/

}


#sidebar{}
#sidebar h2{font-size:25px;font-family: 'Annie Use Your Telescope', cursive;}


.boxBuy-show-setup, .boxBuy-hide-setup {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
}
.boxBuy-show-setup { opacity:0; height: 0; }
.boxBuy-show-setup.boxBuy-show-start { opacity:1; height: 100px; }

.boxBuy-hide-setup { opacity:1; height: 0; }
.boxBuy-hide-setup.boxBuy-hide-start { opacity:0; height: 100px; }


#cartMini{
    min-height:100px;
    background-color:#efefef;
}