<img src="images/ssi-uk.gif?new">
<!-- 
<div class="video-container">
         <iframe src="http://www.youtube.com/embed/KTgyU5cdT7s" frameborder="0" width="560" height="315"></iframe>
</div>
-->
	<h2>Fly your Prayer Flags in Pharping.</h2>
	<p>
		Your flags will be hung in Pharping for Tibetan New Year (Losar), and we will take pictures of the flags which will be then be sent to you by email.
	</p>

	<h2>High Quality Prayer Flags.</h2>
	<p>The flags all are of the most excellent material available, 100% pure cotton, the print is very resistant and the colors are natural.
	</p>

<!-- 
	<h2>The hoisting of the flags in Pharping.</h2>
	<p>
		The flags will be put up in Pharping on Tibetan Losar and we will take pictures of the flags which will be sent to you by email.
	</p>
-->

	<h2>Fly your lungta for Tibetan culture!</h2>
	<p>
		Our aim is to raise money to ensure the continuation of Tibetan culture at this critical time, while at the same time giving practitioners the opportunity to buy lungta prayer flags for the upcoming Losar (Tibetan New Year). 
		<br><br>
		This is a special and rare opportunity to have one's flags hung up in the very holy place of Pharping, 
		in Nepal and also to contribute money to a worthy cause.


	</p>

	<h2>Contacts</h2>
	<p>
		For more information and contacts, please write to: <a href="mailto:lungtas@shangshunguk.org">lungtas@shangshunguk.org</a>
	</p>

	