<img src="images/ssi-uk.gif">
<!-- 
<div class="video-container">
         <iframe src="http://www.youtube.com/embed/KTgyU5cdT7s" frameborder="0" width="560" height="315"></iframe>
</div>
-->

<h2>Bandierine di alta qualità</h2>
	<p>Le bandierine sono fatte con i migliori materiali disponibili, cotone al 100%, le tinte sono naturali e la stampa è molto resistente.
	</p>

	<h2>Le vostre lungta nel vento di Pharping</h2>
	<p>
		Le bandierine saranno appese a Pharping durante il losar tibetano.
		Riceverete una mail con la foto delle vostre lungta in questo sacro luogo.
	</p>

	<h2>Fai sventolare i lungta per sostenere la cultura tibetana!</h2>
	<p>
		Il nostro desiderio è di raccogliere denaro con il fine di assicurare la
		sopravvivenza e la continuazione della cultura tibetana, aiutandola a
		superare il momento critico che essa sta attraversando, offrendo al
		contempo ai praticanti la possibilità di comprare le lungta per il Losar ormai
		imminente (il capodanno tibetano).
		<br><br>
		Si tratta della rara opportunità di
		appendere le proprie lungta in un luogo sacro quale è Pharping, nel Nepal
		orientale, oltre a dare un prezioso contributo economico ad una causa molto
		importante.
	</p>

	<h2>Contatti</h2>
	<p>
	Per avere maggiori informazioni potete scrivere a: <a href="lungtas@shangshunguk.org">lungtas@shangshunguk.org</a>
	</p>