<img src="images/ssi-uk.gif">
<!-- 
<div class="video-container">
         <iframe src="http://www.youtube.com/embed/KTgyU5cdT7s" frameborder="0" width="560" height="315"></iframe>
</div>
-->


<h2>Развесь свои Молитвенные Флажки в Пхарпинге.</h2>
<p>
	Ваши Флажки будут развешаны в Пхарпинге на Новый Тибетский Год (Лосар), и мы сделаем фото флажков, которые потом будут отправлены вам по почте.

</p>

<h2>Высококачественные Молитвенные Флажки.</h2>
<p>
	Все флажки из самых замечательных тканей имеющихся в наличии, 100% хлопок, печать очень устойчива, натуральная краска.
</p>

<h2>Развесь свои Лунгта в пользу Тибетской Культуры!</h2>
<p>
	Наша цель собрать деньги, чтобы обеспечить продолжение Тибетской культуры в этот критический момент, и в то же время даем возможность практикующим купить лунгта, молитвенные флажки, в наступающий Лосар (Тибетский Новый Год).
	<br><br>
	Это особенная и редкая возможность развесить свои флажки в очень святом месте Пхарпинга, в Непале, а также вложить деньги в достойное дело.

</p>

<h2>Контакты</h2>
<p>
	Для большей информации и контактов, пожалуйста пишитe на: <a href="mailto:lungtas@shangshunguk.org">lungtas@shangshunguk.org</a>
</p>
