<img src="images/ssi-uk.gif?new">
<!-- 
<div class="video-container">
         <iframe src="http://www.youtube.com/embed/KTgyU5cdT7s" frameborder="0" width="560" height="315"></iframe>
</div>
-->
	<h2>让您的经旗飘扬在帕平。</h2>
	<p>
		您的经旗将在藏历新年悬挂在帕平,我们会拍摄经旗并通过邮件发给您。
	</p>

	<h2>优质经旗</h2>
	<p>这些风马旗都是由目前最好的材料制作而成，百分之百全棉，印刷非常耐久而且颜色纯正天然。
	</p>

<!-- 
	<h2>The hoisting of the flags in Pharping.</h2>
	<p>
		The flags will be put up in Pharping on Tibetan Losar and we will take pictures of the flags which will be sent to you by email.
	</p>
-->

	<h2>为了西藏的文化让您的风马旗飘扬起来！</h2>
	<p>
		我们的宗旨是在此非常关键时期为传承延续西藏文化而募集资金，同时也给修行者为即将来临的藏历新年提供一个购买风马旗的机会。
		<br><br>
		这是一个在尼泊尔帕平圣地悬挂您自己经旗的殊胜而又难得的机会，同时您也能为一件值得的事业做出贡献。


	</p>

	<h2>联系方式</h2>
	<p>
		更多信息及联系方式，请发至： <a href="mailto:lungtas@shangshunguk.org">lungtas@shangshunguk.org</a>
	</p>

	